<h1>Mario's Food Supply</h1>

<h3> Our Three Most Recent Products</h3>
<% if @three_most_recent_products.any? %>
  <ul>
    <% @three_most_recent_products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>

<h3> Our Most Reviewed Products</h3>
<% if @product_with_most_reviews.any? %>
  <ul>
    <% @product_with_most_reviews.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>



<h3> Shop Local. Buy American.</h3>
<% if @products_made_in_the_USA.any? %>
  <ul>
    <% @products_made_in_the_USA.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no American products yet.</p>
<% end %>

<h3>List of Products</h3>
<% if @product.any? %>
  <ul>
    <% @product.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>

<% if current_user && current_user.admin %>
  <%= button_to "Create new product", 
              new_product_path,
              method: :get %>
<% end %>
