<h1>Product Name: <%= @product.name %></h1>
<h3>Cost: $<%= @product.cost %></h3>
<h3>County of Origin: <%= @product.country_of_origin %></h3>

<% if @product.reviews.any? %>
  <h4>Here are the reviews for this product:</h4>

  <% @product.reviews.each do |review| %>
    <ul>
      <li>
        By: 

        <% if current_user && current_user.admin %>
          <%= link_to review.author, product_review_path(@product, review) %> 
        <% else %>
          <%= review.author %>
        <% end %> |

        <%= review.content_body%> |  
        Rating: <%= review.rating %> 
      </li>
    </ul>
  <% end %>
  
<% else %>
  <p>There are no reviews listed for this product.</p>
<% end %>

<br>

<% if current_user %>
<%= button_to "Write a New Review", 
              new_product_review_path(@product),
              method: :get %>
<% else %> 
<%= button_to "Sign in to leave a review", 
              new_product_review_path(@product),
              method: :get %>
<% end %>

<% if current_user && current_user.admin %>
  <%= button_to "Edit Product", 
                edit_product_path(@product),
                method: :get %>

  <%= button_to "Delete Product", 
                product_path(@product),
                method: :delete %> 
<% end %>

<%= button_to "Return to Products Page", 
              products_path,
              method: :get %>